spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/aether
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

security:
  jwt:
    secret: ${JWT_SECRET}
    expirationMills: 86400000
